<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/128/5797/5797740.png"
      type="image/x-icon"
    />
  </head>
  <body class="admin-body">
    <div class="video-bg">
        <video autoplay muted loop playsinline>
          <source
            src="https://www.pexels.com/download/video/1449846/"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    <div class="admin-container">
      <h2 class="admin-title">Admin Login</h2>

      <div class="admin-card">
        <input id="username" placeholder="Username" />
        <input id="password" type="password" placeholder="Password" />
        <button onclick="login()">Login</button>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
